<%= link_to "Return", root_path %><br />
<%= link_to "Create a Poll", new_poll_path %>

<h1>Browse Polls</h1>
<% if @all_polls.any? %>
	<% @all_polls.each do |poll| %>
		<%= poll.title %><br />
	<% end %>
<% else %>
	<p>No polls available</p>
<% end %>
